*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    background-color: #201E43;
    color: rgb(222, 214, 255);
    
}

a {
    text-decoration: none;
    color: var(--blue);
    &:hover {
        text-decoration: underline;
    }
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .logo-holder{
        display: flex;
        padding: 10px;
        align-items: center;
        font-weight: 600;
        color: rgb(222, 214, 255);
        
        .logo-img {
            border-radius: 50%;
        }


        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            background-color: black;
            color: var(--base-100);
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: 50%;
        }

        .logo-text{
            flex: 1;
        }
    }

    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;

            li {
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--base);
                    &:hover {
                        background-color: var(--base-100);
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }
            }
        }
        .mobile-toggle {
            display: none;
            color: var(--base-800);
            padding: 10px;
            @media (max-width:768px){
            display: inline-block;
            position: absolute;
            top: 20px;
            right: 20px;

            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }
    
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        nav {
            margin-top: 10px;
            width: 100%;
            ul {
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;
                a {
                    width: 100%;
                }
                &.active {
                    display: flex;
                }

            }
        }
    }
}

.container {
    max-width: 1440px;
    gap: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width:1440px){
        padding-left: 30px;
        padding-right: 30px;
    }
}

.button {
    display: inline-block;
    padding: 10px 30px;
    background-color:#292753;
    color: #EEEEEE;
    border-radius: 10px;

    &:hover {
        text-decoration: none;
        background-color: #49468b;
        transition:ease 0.3s all;
    }
    &.black {
        background-color: rgb(0, 0, 0);
        &:hover {
            background-color: var(--base-100);
            color: var(--base);
        }
    }
    &.black {
        background-color: #201E43;
        color: white;
        &:hover {
            background-color: var(--base);
            color: var(--base-100);
        }
    }
    
}

h1 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    small {
        display: block;
        font-weight: 100;
    }
    @media (max-width:1024px){
        font-size: 48px;
    }
}

.hero {
    display: flex;
    @media (max-width:1024px) {
        flex-direction: column;
    }
    margin-top: 30px;

    .call-to-action {
        margin-top: 20px;
        margin-bottom: 10px;

        a {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }

    .social-links {
        a{
            &:hover {
                text-decoration: none;
            }
        }
    }

    .hero-blue {
        flex:1;
        border-radius: 30px;
        background-color: #49468b ;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            @media (max-width:1024px) {
                display: none;
            }
        }
    }

    .hero-p {
        flex:1;
      
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
            border-radius: 30px;
            max-width: 420px;
        }
    }
}

.logos {
    background-color: var(--base-100);
    padding: 30px 0px;
    @media (max-width:1440px){
        border-radius: 0px;
    }
    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;
        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 30s linear infinite;
            display: flex;
            gap: 10px;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

h2 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px;
    small {
        display: block;
        font-weight: 100;
        font-size: 0.5em;
        color: var(--base);
    }
    @media (max-width:1024px) {
        font-size: 48px;
    }
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    color:  rgb(222, 214, 255);
}

.skills {
    .holder-blue {
        background-color: #49468b;
        border-radius: 30px;
        display: flex;
        padding: 30px;
        color: white;

        @media (max-width:1024px){
            flex-direction: column;
        }
        .left-column {
            flex: 1;

            ul {
                list-style-type: none;
                gap: 10px;
                margin-right: 100px;
                margin-bottom: 20px;
                li {
                    display: inline-block;
                    background-color: #726fb8;
                    padding: 10px 20px;
                    border-radius: 15px;
                    margin-bottom: 10px;
                }
            }
        }
        .right-column {
            flex: 1;

            p {
                margin-bottom: 20px;
            }
        }
    }
}

.bento {
    .bento-grid {
        display: grid;
        padding: 20px;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 960px;
        @media (max-width:1024px) {
            grid-template-rows: repeat(8, 1fr);
        }
        @media (max-width:768px){
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: auto;
        }
        .bento-grid-item {
            padding: 30px;
            background-color: var(--base-100);
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                top:0;
                left:0;
                height: 100%;
                object-fit:cover;
                transition: ease 3s all;
            }
            &:hover{
                img {
                    transform: scale(1.5,1.5);
                }
            }
            @media (max-width:768px){
                height:240px ;
            }
            &:nth-child(1) {
                grid-column: span 2;
                grid-row: span 2;
                @media (max-width:1024px) {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }
            &:nth-child(2) {
                grid-column: span 2;
                grid-row: span 2;
                @media (max-width:1024px) {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }
        }
    }
}

.footer {
    border-radius: 30px;
    background-color: #49468b;
    height: 200px;

    .footer-content {
        align-items: center;
        justify-content: center;
        p {
        
            font-weight: 100;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            padding-top: 40px;
            
        }

        ul {
                list-style-type: none;
                gap: 10px;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
                line-height: 1.6;
                color: #EEEEEE;
            
            li {
                display: inline-block;
                padding: 10px 20px;
                border-radius: 15px;
                margin-bottom: 10px;
               
                a {
                    color: #EEEEEE;
                    text-decoration: none;
                    &:hover {
                        color: #201E43;
                    }
                    
                }
                
            }

            
        }
    }
}